body {
  background: rgb(149, 194, 215);
  font-size: 16px;
}

h1 {
  padding: 80px;
  text-align: center;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.alt-ul-bullet {
  list-style-type: circle;
}

.alt-ol-bullet {
  list-style-type: lower-greek;
}

.detail-image-container {
  display: flex;
  justify-content: center;
}

.my-name {
  /* display: inline; */
  color: red;
  font-family: 'Tangerine', serif;
  font-size: 48px;
}

.thumbnail-list {
  list-style: none;
  padding: 0;
}

.thumbnail-image {
  display: block;
  width: 50%;
}

.thumbnail-item+.thumbnail-item {
  margin-top: 10px;
}

.thumbnail-item {
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
  display: block;
}

.thumbnail-href {
  text-decoration: none;
}

.thumbnail-title {
  background: rgb(96, 125, 139);
  color: rgb(202, 238, 255);
  display: block;
  font-size: 18px;
  margin: 0;
  padding: 4px 10px;
}

.super-link:hover {
  color: red;
  font-size: 60px;
}
